{% extends 'base.html.twig' %}

{% block title %}
    Database Entry
{% endblock %}

{% block body %}
    <div>
        <button class="btn btn-primary">Datenbank Eintrag</button>
    </div>
{% endblock %}
